<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Data" connectionString="Data Source=%appdir%\Data.sdb" providerName="System.Data.SQLite" />
    <add name="Preferences" connectionString="Data Source=%appdir%\Preferences-%username%@%computername%.sdb" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>